@import '../../static/css/_mixins.scss';

.login-container{

    .input-user-div, .input-pw-div{
        width: 100%;
        height: calc-rem(100);
        background: #fff;
        border-bottom: calc-rem(1) solid #eeeeee;

        input{
            border: 0;
            height: 100%;
            width: 100%;
        }
    }

    .input-user-div{
        margin-top: calc-rem(20);
    }

    .btn-div{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;

        button{
            width: 100%;
            height: calc-rem(100);
        }

        button:nth-child(1){
            color: #5b5b5b;
            background: #fff;
        }

        button:nth-child(2){
            background: #fe5a08;
            color: #fff;
        }
    }
}