@import '../../static/css/_variables.scss';
@import '../../static/css/_mixins.scss';
@import '../../static/css/reset.scss';
// @include font-face('FZLTHJW--GB1-0', '../assets/font/FZLTHJW--GB1-0')
@mixin adaptive {
	@media screen and (max-device-width:320px) {
        $factor:320/375;
		font-size: ($baseSize*$factor)+px;
	}

    @media screen and (min-device-width: 414px) {
        body,html {
            font-size: $baseSize + px;
        }
    }
}

html, body{
    width: 100%;
    height: 100%;
    font-size: $baseSize + px;
    color: #5c5c5c;
    overflow: hidden;
    @include adaptive;
}

.container{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #f5f5f5;
}

.no-wrap{
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}

.button:active{
    opacity: 0.5;
}

input{
    padding: 0 calc-rem(10);
}