@import '../../static/css/_variables.scss';
@import '../../static/css/_mixins.scss';
@import '../../static/css/reset.scss';
// @include font-face('FZLTHJW--GB1-0', '../assets/font/FZLTHJW--GB1-0')
@mixin adaptive {
	@media screen and (max-device-width:320px) {
        $factor:320/375;
		font-size: ($baseSize*$factor)+px;
	}

    @media screen and (min-device-width: 414px) {
        body,html {
            font-size: 15.456px;
        }
    }
}
*{
    margin:0px;
    padding:0px;
    -webkit-overflow-scrolling:touch;
    -webkit-tap-highlight-color:transparent;
    -webkit-touch-callout: none;
    box-sizing: border-box;
}

:not(textarea,input) {
    -webkit-user-select: none;
}

:disabled {
    pointer-events: none;
}

*::-webkit-scrollbar{
  width: 0
}
/*example 样例*/
.example{
    width: calc-rem(80);
    height: calc-rem(80);
    padding: calc-rem(80);
    margin: calc-rem(80);
    line-height: calc-rem(80);
    border: calc-rem(2) solid #ccc;
    border-radius: calc-rem(8);
}
html, body{
    width: 100%;
    height: 100%;
    // font-size: 20px;
    color: #5c5c5c;
    overflow: hidden;
    @include adaptive;
}

.red{
    color: #ff0000;
}

.blue{
    color: #00b7ee;
}

button{
    border: 0;
    outline : 0;
    background: #ffffff;
}

input{
    padding: 0 0.5rem;
    outline : 0;
}

a{
    text-decoration:none;
}

.container{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #f5f5f5;
}

.high{
    font-size: 0.8rem;
    font-weight: bold;
}

.clear{
    clear: both;
}


.no-wrap{
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}

#app{
    width:100%;
    height: 100%;
    position: relative;
    font-size: 0.6rem;
}

.lt-wrap{
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 100%;
}

.popup-container{
    position: fixed;
    width: 100%;
    height: calc(100% - 3.2rem);
    top: 3.2rem;
    left: 0;
    z-index: 999;
}

.container-height{
    height: calc(100% - 3.2rem) !important;
}