@import '../../static/css/_mixins.scss';

.bind-mobile-container{

    .input-mobile-div, .input-code-div{
        width: 100%;
        height: calc-rem(100);
        background: #fff;
        border-bottom: calc-rem(1) solid #eeeeee;
    }

    .input-mobile-div{
        margin-top: calc-rem(20);

        input{
            border: 0;
            height: 100%;
            width: 100%;
        }
    }


    .input-code-div{
        input{
            border: 0;
            height: 100%;
            width: 65.4%;
        }

        button{
            width: 34.6%;
            height: 100%;
            background: #feeee6;
            color: #fe5a08;
        }
    }


    .btn-div{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: calc-rem(100);

        button{
            width: 100%;
            height: 100%;
            background: #fe5a08;
            color: #fff;
        }
    }
}