@import '../../static/css/_mixins.scss';
@import '../../static/css/_variables.scss';

.header-container{
    width: 100%;
    height: calc-rem($topHeight);
    padding-top: calc-rem($toolbarHeight);
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 88;

    .title-div{
        text-align: center;
        width: 100%;
        height: 100%;
        position: relative;
        line-height: calc-rem($headerHeight);
        font-family: "PingFang-SC-Medium";
        color: #4A4A4A;
        font-size: calc-rem(32);

        .btn_back{
            position: absolute;
            width: calc-rem(108);
            top: 0;
            left: 0;
            height: 100%;
            background: url($backIcon) center no-repeat;
            background-size: calc-rem(48); 
        }
        button:last-child{
            position: absolute;
            right: calc-rem(40);
            top: 0;
            height: 100%;
            outline: none;
            border: 0;
        }
    }
}