@import '../../static/css/_mixins.scss';
@import '../../static/css/_variables.scss';

.site-message-item {
    width: 100%;
    height: calc-rem(195);
    padding: calc-rem(30) calc-rem(40);
    background: $whiteColor;
    margin-bottom: calc-rem(20);
    box-sizing: border-box;
    box-shadow: inset 0 -1px 0 0 #EEEEEE;
        div{
            font-size: calc-rem(28);
            color: #5b5b5b;
            letter-spacing: calc-rem(1.34);
        }
        div:first-child{
            font-weight: bold;
            color: #030303;
            height: calc-rem(45);
            line-height: calc-rem(45);
            font-size: calc-rem(32);
            margin-bottom: calc-rem(10); 
        }
        div:last-child{
            margin-top: calc-rem(30); 
            font-size: calc-rem(24);
            color: #999;
        }
}

