/** 
 * @component index.scss
 * @description 通用的上传组件样式
 * @time 2017-6-22 23:30
 * @author fishYu
 */
@import '../../static/css/_mixins.scss';
@mixin common-upload{
    background-color: #FAFAFA;
    border: calc-rem(1) solid #EEEEEE;
    border-radius: calc-rem(12);
    box-sizing: border-box;
}

@mixin common-upload-hint{
    width: 100%;
    height: calc-rem(90);
    font-size: calc-rem(28);
    color: #5B5B5B;
    line-height: calc-rem(90);
}
.upload-component-wrapper{
    width: 100%;
    background-color: $whiteColor; 
    .upload-explain-component{
        width: 100%;
        height: calc-rem(280);
        padding: 0 calc-rem(40);
        border-bottom: $commonBorder;
        .upload-explain-hint{
            @include common-upload-hint;
        }
        textarea{
            width: 100%;
            height: calc-rem(160);
            outline: none;
            resize: none;
            padding: calc-rem(20) calc-rem(25); 
            @include common-upload;
            color: #5B5B5B;
            font-size: calc-rem(28);
            line-height: calc-rem(40);
        }
    }
    .upload-explain-component.no-explain-style{
        height: calc-rem(200) !important;
        textarea{
            height: calc-rem(80) !important;
        }
    }
    .upload-photo-component{
        width: 100%;
        height: calc-rem(420);
        padding: 0 calc-rem(40);
        .upload-photo-hint{
            @include common-upload-hint;
            span{
                display: inline-block;
                margin-left: calc-rem(20);
                font-size: calc-rem(24);
                color: #999999;
            }
        }
        .upload-photo-content{
            width: 100%;
            height: calc-rem(300);
            overflow-x: auto;
            overflow-y: hidden;
            white-space: nowrap;
            display: flex;

            @include common-upload;
            .upload-photo-item{
                position: relative;
                width: calc-rem(240);
                height: 100%;
                margin-right: calc-rem(20);
                display: table;
                @include common-upload;
                img, video{
                    width: 100%;
                    height: 100%;
                    @include common-upload;
                }
                .photo-close{
                    position: absolute;
                    right: 0;
                    width: calc-rem(52);
                    height: calc-rem(52);
                    background: url($closeIcon) center no-repeat rgba(255,255,255,.3);
                    background-size: calc-rem(32); 
                    z-index: 999;
                }
            }
            .upload-photo-btn{
                background: url($cameraIcon) center no-repeat;
                background-size: calc-rem(80) calc-rem(65); 
                .upload-inpu-file{
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 99;
                    background: transparent;
                    opacity: 0;
                }
            }

            .upload-photo-btn-init{
                margin: 0 auto;
                display: block;
                border: 0;
            }
        }
    }
}

.upload-photo-btn-span{
    display: inline-block;
    border-radius: 100%;
    border: calc-rem(1) solid #FC5B0B;
    box-sizing: border-box;
    background: transparent; 
    width: calc-rem(180);
    height: calc-rem(180);

    input{
        opacity: 0;
        width: 100%;
        height: 100%;
    }
}
.upload-disabled{
    textarea, .upload-photo-content{
        // border: 0 !important;
        background-color: $whiteColor !important;
    }
    .no-explain-style{
        height: calc-rem(80);
    }
    .upload-photo-component.no-photos-style{
        height: calc-rem(200)  !important;
    }
    .upload-photo-content.no-photos-style{
        height: calc-rem(80)  !important;
        padding-left: calc-rem(25);
        padding-top: calc-rem(20);
    }
}
/**
*去掉滚动轴
**/
/* 设置滚动条的样式 */
.upload-photo-content::-webkit-scrollbar {
    width: 0;
    display: none;
}
/* 滚动槽 */
.upload-photo-content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0px rgba(0,0,0,0);
    box-shadow: inset 0 0 0px rgba(0,0,0,0);
    border-radius: 0;
}
/* 滚动条滑块 */
.upload-photo-content::-webkit-scrollbar-thumb {
    border-radius: 0;
    background: rgba(0,0,0,0);
    -webkit-box-shadow: inset 0 0 0px rgba(0,0,0,0);
    box-shadow: inset 0 0 0px rgba(0,0,0,0);
}

.upload-photo-content::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255,0,0,0);
}



.photo-select-container{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, 0.75);
    z-index: 999;

    .btns-div{
        width: 100%;
        position: absolute;
        bottom: 0;
    }

    .inputBtn:last-child{
        border-bottom: 0;
    }

    .inputBtn{
        width: 100%;
        height: calc-rem(90);
        line-height: calc-rem(90);
        background: #ffffff;
        text-align: center;
        color: #5B5B5B;
        position: relative;
        border-bottom: calc-rem(1) solid #999999;

        input{
            width: 100%;
            height: 100%;
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}
.big-photo-container{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, 0.75);
    z-index: 999;
    display: flex;
    align-items: center;

    img{
        width: 100%;
    }
}



.my-dz-video{
    width: 100%;
    height: 100%;
}
.vjs-paused .vjs-big-play-button,
.vjs-paused.vjs-has-started .vjs-big-play-button {
    display: block;
    width: 48px;
    height: 48px;
    margin: 0 auto;
    line-height: 48px;
    left: inherit;
    position: relative;
    top: calc(50% - 24px);
}
.video-js{
    left: 0;
    top: 0;
    position: absolute;
}
.video-js.vjs-playing .vjs-tech {
    pointer-events: auto;
}