@import '../../static/css/_mixins.scss';
@import '../../static/css/_variables.scss';

.message-center-alarm{
    background: url($alarmIcon) calc-rem(40) center no-repeat $whiteColor;
    background-size: calc-rem(44);
}

.message-center-site{
    background: url($messageIcon) calc-rem(40) center no-repeat $whiteColor;
    background-size: calc-rem(44);
}

.message-center-system{
    background: url($systemIcon) calc-rem(40) center no-repeat $whiteColor;
    background-size: calc-rem(44);
}

.message-bubble{
    color: $whiteColor;
    font-size: calc-rem(28);
    display: inline-block;
    line-height: calc-rem(50);
    text-align: center;
    width: calc-rem(50);
    height: calc-rem(50);
    background: $yellowColor;
    border-radius: 100%;
    margin-right: calc-rem(60);
}

