@import '../../../static/css/_variables.scss';
@import '../../../static/css/_mixins.scss';

.work-order-container{
    width: 100%;
    height: 100%;

    // height: calc(100% - #{calc-rem($topHeight)});
    // position: relative;
    .work-order-tabs{
        width: 100%;
        height: calc-rem(80);
        line-height: calc-rem(80);
        font-size: calc-rem(28);
        box-sizing: border-box;
        border-top: $commonBorder;
        background: $whiteColor;
        span{
            display: inline-block;
            width: 50%;
            text-align: center;
            color: #4A4A4A;
        }
        .work-order-tab-selected{
            color: #FE5A08;
        }
    }
    .work-order-content{
        position: absolute;
        top: calc-rem(100);
        width: 100%;
        left: 0;
        height: -webkit-calc(100% - #{calc-rem(100)});
        height: calc(100% - #{calc-rem(100)});
    }
}

.work-order-count-bubble{
    position: fixed;
    z-index: 9999;
    bottom: calc-rem(42);
    left: calc-rem(294);
    color: $whiteColor;
    font-size: calc-rem(24);
    display: inline-block;
    line-height: calc-rem(56);
    text-align: center;
    width: calc-rem(56);
    height: calc-rem(56);
    background: $yellowColor;
    border-radius: 100%;
    pointer-events: none;
}

/****时间筛选器*  top: calc-rem(61); 有顶部导航的时候**/
.work-order-filter{
    position: fixed;
    display: inline-block;
    top: calc-rem(31);
    right: calc-rem(30);
    font-size: calc-rem(24);
    padding: calc-rem(6) calc-rem(24) ;
    background:rgba(216,216,216,.3);
    color: #4a4a4a;
    z-index: 999;
    border-radius: calc-rem(100);
}
.input-group{
    width: calc-rem(120);
    height: calc-rem(28);
    input{
        padding: 0;
        margin: 0;
        text-align: center;
    }
}
.input-group+div{
    top: calc-rem(80) !important;
    right: calc-rem(-140) !important;
    left: inherit !important;
}
.input-group:nth-of-type(2)+div{
    right:0 !important;
}
.form-control{
    width: 100%;
    height: 100%;
    font-size: calc-rem(24);
    color: #4a4a4a;
    background: transparent;
}


