@import '../../../static/css/_mixins.scss';

.home-container{
    .btn-tabs{
        width: 100%;
        height: calc-rem(188);
        background: #fff;

        .btn-tab-item{
            display: inline-block;
            width: 25%;
            padding: 0 calc-rem(14);
            padding-top: calc-rem(30);


            .tab-title{
                text-align: center;
                height: calc-rem(78);
                line-height: calc-rem(78);
                font-size: calc-rem(24);
                color: #333333;
                letter-spacing: calc-rem(1.2);
            }

            .icon-alarm{
                width: 100%;
                height: calc-rem(80);
                background: url(../images/alarm.png) no-repeat center;
                background-size: calc-rem(80);
            }

            .icon-monitor{
                width: 100%;
                height: calc-rem(80);
                background: url(../images/monitor.png) no-repeat center;
                background-size: calc-rem(80);
            }

            .icon-feedback{
                width: 100%;
                height: calc-rem(80);
                background: url(../images/feedback.png) no-repeat center;
                background-size: calc-rem(80);
            }

            .icon-patrol{
                width: 100%;
                height: calc-rem(80);
                background: url(../images/patrol.png) no-repeat center;
                background-size: calc-rem(80);
            }
        }
    }

    .home-list-title-div{
        width: 100%;
        height: calc-rem(45);
        padding: 0 calc-rem(40);
        display: flex;
        align-items: center;
        font-family: PingFangSC-Medium;
        font-size: calc-rem(32);
        color: #333333;
        letter-spacing: calc-rem(1.53);

        span{
            width: calc-rem(6);
            height: calc-rem(30);
            display: inline-block;
            background: #FE5A0B;
            margin-right: calc-rem(20);
        }
    }

    .home-alarm-list{
        .alarm-home-item:last-child{
            .alarm-home-right{
                border-bottom: 0;
            }
        }

        border-bottom: calc-rem(1) solid #eee;
    }

    .home-alarm-content, .home-monitor-content, .home-rp-content, .home-alarm-fb-content, .home-order-content, .home-fd-content{
        margin-top: calc-rem(20);
        padding-top: calc-rem(30);
        background: #fff;

        .rp-echart-div, .work-order-echart-div, .alarm-fb-echart-div, .fd-echart-div{
            width: 100%;
            height: calc-rem(630)
        }
    }

    .home-alarm-content{
        .btn-alarm-more{
            width: 100%;
            height: calc-rem(100);
            background: #FFFFFF;
            font-size: calc-rem(28);
            color: #999999;
            letter-spacing: calc-rem(1.34);
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .home-monitor-content{
        .home-monitor-list{
            padding: calc-rem(30) calc-rem(40);

            .home-power-item{
                margin-bottom: calc-rem(20);
            }

            .home-power-item:last-child{
                margin-bottom: 0;
            }
        }

        .btn-monitor-more{
            width: 100%;
            height: calc-rem(100);
            background: #FFFFFF;
            font-size: calc-rem(28);
            color: #999999;
            letter-spacing: calc-rem(1.34);
            border-top: calc-rem(1) solid #eeeeee;
        }
    }

}