@import '../../../static/css/_mixins.scss';

.home-container{
    .btn-tabs{
        width: 100%;
        height: calc-rem(188);
        background: #fff;

        .btn-tab-item{
            display: inline-block;
            width: 25%;
            padding: 0 calc-rem(14);
            padding-top: calc-rem(30);


            .tab-title{
                text-align: center;
                height: calc-rem(78);
                line-height: calc-rem(78);
                font-size: calc-rem(24);
                color: #333333;
                letter-spacing: calc-rem(1.2);
            }

            .icon-alarm{
                width: 100%;
                height: calc-rem(80);
                background: url(../images/alarm.png) no-repeat center;
                background-size: calc-rem(80);
            }

            .icon-monitor{
                width: 100%;
                height: calc-rem(80);
                background: url(../images/monitor.png) no-repeat center;
                background-size: calc-rem(80);
            }

            .icon-feedback{
                width: 100%;
                height: calc-rem(80);
                background: url(../images/feedback.png) no-repeat center;
                background-size: calc-rem(80);
            }

            .icon-patrol{
                width: 100%;
                height: calc-rem(80);
                background: url(../images/patrol.png) no-repeat center;
                background-size: calc-rem(80);
            }
        }
    }

    .home-notice-div{
        margin-top: calc-rem(20);
        width: 100%;
        height: calc-rem(100);
        padding: 0 calc-rem(40);
        background: #fff;

        .notice-title-div{
            width: calc-rem(132);
            height: 100%;
            display: inline-block;

            .icon-notice{
                width: calc-rem(32);
                height: 100%;
                background: url(../images/notice.png) no-repeat center;
                background-size: calc-rem(32);
                margin-right: calc-rem(10);
                display: inline-block;
                vertical-align: middle;
            }

            .title-notice{
                font-family: "PingFangSC-Medium";
                font-size: calc-rem(28);
                color: #FC5B0B;
                letter-spacing: calc-rem(1.78);
                display: inline-block;
                height: 100%;
                line-height: calc-rem(100);
                vertical-align: middle;
            }
        }

        .notice-message{
            width: calc(100% - #{calc-rem(132)});
            height: 100%;
            line-height: calc-rem(100);
            font-size: calc-rem(28);
            color: #333333;
            letter-spacing: calc-rem(1.78);
            float: right;
        }
    }
}