@import '../../static/css/_mixins.scss';

.alarm-detail-container{
    .realTime-alarm-item{
        margin-top: calc-rem(20);
    }
    

    .power-site-div{
        margin-top: calc-rem(20);
        padding: 0 calc-rem(40);
        padding-top: calc-rem(30);
        background: #fff;
        
        .power-title{
            font-size: calc-rem(28);
            color: #5B5B5B;
            letter-spacing: calc-rem(1.34);
            line-height: calc-rem(28);
        }

        .power-name{
            margin-top: calc-rem(24);
            font-size: calc-rem(32);
            color: #333333;
            letter-spacing: calc-rem(1.53);
            line-height: calc-rem(32);
        }
        
        .power-map-div{
            width: 100%;
            height: calc-rem(670);
            margin-top: calc-rem(28);
        }
    }

    .power-history-div{
        margin-top: calc-rem(20);

        .alarm-history-item{
            border-bottom: calc-rem(1) solid #eee;
        }

        .alarm-history-item:last-child{
            border-bottom: 0;
        }

        .power-no-history{
            width: 100%;
            height: calc-rem(120);
            line-height: calc-rem(120);
            font-size: calc-rem(32);
            color: #888888;
            letter-spacing: 0;
            text-align: center;
        }
    }

    .explain-div{
        margin-top: calc-rem(20);
        width: 100%;
        background: #fff;
        padding: calc-rem(30) 0;
        border-bottom: calc-rem(1) solid #EEEEEE;

        .explain-title{
            font-size: calc-rem(28);
            color: #5B5B5B;
        }

        .explain-textarea{
            margin-top: calc-rem(20);
            background: #FAFAFA;
            border: calc-rem(1) solid #EEEEEE;
            border-radius: calc-rem(12);
            font-size: calc-rem(28);
            color: #5B5B5B;
            width: 100%;
            height: calc-rem(160);
            padding: calc-rem(20);
        }
    }

    .media-div{
        width: 100%;
        padding: calc-rem(30) calc-rem(40);
        background: #fff;

        .media-title-div{
            font-size: calc-rem(28);
            color: #5B5B5B;

            span{
                margin-left: calc-rem(20);
                font-size: calc-rem(24);
                color: #999999;
            }
        }

        .media-content-div{
            margin-top: calc-rem(20);
            width: 100%;
            height: calc-rem(300);
            display: flex;
            align-items: center;
            justify-content: center;

            .btn-media{
                width: calc-rem(180);
                height: calc-rem(180);
                border: calc-rem(1) solid #FC5B0B;
                border-radius: calc-rem(180);

                span{
                    width: calc-rem(80);
                    height: calc-rem(65);
                    display: inline-block;
                    background: url(../../static/images/camera.png) no-repeat center;
                    background-size: calc-rem(80) calc-rem(65);
                }
            }
        }
    }

    .btn-commit{
        margin-top: calc-rem(20);
        width: 100%;
        height: calc-rem(100);
        background: #FE5A08;
        border-radius: calc-rem(4);
        font-family: "PingFang-SC-Medium";
        font-size: calc-rem(32);
        color: #FFFFFF;
    }
}