@import '../../../static/css/_mixins.scss';
@import '../../../static/css/_variables.scss';

.psm-list-container{
    width: 100%;
    height: 100%;

    .psm-list-item{
        margin-top: calc-rem(20);
    }
}