@import '../../static/css/_mixins.scss';

.psm-detail-container{
    height: 100%;
    overflow: auto;

    .psm-detail-content{
        padding: calc-rem(20) 0;
        .title-div{
            padding: calc-rem(28) calc-rem(40);
            font-family: "PingFangSC-Medium";
            font-size: calc-rem(32);
            color: #333333;
            letter-spacing: calc-rem(1.53);
            line-height: calc-rem(48);
            background: #fff;
            border-bottom: calc-rem(1) solid #eeeeee;
        }

        .power-info-div{
            background: #fff;
            border-bottom: calc-rem(1) solid #eeeeee;
            margin-top: calc-rem(20);

            .titleTxt{
                width: 100%;
                height: calc-rem(90);
                line-height: calc-rem(90);
                padding: 0 calc-rem(40);
                border-bottom: calc-rem(1) solid #eeeeee;
                font-size: calc-rem(28);
                color: #5B5B5B;
                letter-spacing: calc-rem(1.34);
            }

            .desc-txt{
                width: 100%;
                height: calc-rem(102);
                line-height: calc-rem(102);
                display: flex;
                align-items: center;
                justify-content: center;

                .txt1{
                    font-size: calc-rem(28);
                    color: #999999;
                    margin-right: calc-rem(24);
                }

                .txt2{
                    font-family: "PingFang-SC-Semibold";
                    font-size: calc-rem(44);
                    color: #333333;
                    letter-spacing: calc-rem(2.1);
                }
            }

            .info-div{
                padding: 0 calc-rem(70);
                

                .info-table{

                    .table-td:first-child{
                        padding-top: calc-rem(18)
                    }
                    .table-td{
                        border-top: calc-rem(1) solid #eeeeee;
                        padding-top: calc-rem(28);
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        height: calc-rem(130);
                        
                        .table-item-line{
                            width: calc-rem(2);
                            height: calc-rem(60);
                            background-color: #eeeeee;
                        }

                        .table-item{
                            text-align: center;
                            .title-txt{
                                display: block;
                                font-size: calc-rem(28);
                                color: #999999;
                                height: calc-rem(40);
                            }

                            .info-txt{
                                display: block;
                                font-family: "PingFang-SC-Medium";
                                font-size: calc-rem(32);
                                color: #333333;
                                letter-spacing: calc-rem(1.53);
                                height: calc-rem(45);
                            }

                            .info-txt.yellow{
                                color: #FC5B0B;
                            }
                        }
                    }
                }
            }
        }

        .electricity-div, .day-power-div{
            background: #fff;
            margin-top: calc-rem(20);
            padding: calc-rem(40);

            .electricity-title, .day-power-title{
                font-size: calc-rem(28);
                color: #5B5B5B;
                letter-spacing: calc-rem(1.34);
                line-height: calc-rem(28);
            }

            .echart-div, .echart-day-power{
                margin-top: calc-rem(40);
                width: 100%;
                height: calc-rem(570);
            }
        }

        .psmD-btn{
            padding: 0 calc-rem(40);
            margin-top: calc-rem(20);
            display: flex;
            width: 100%;
            height: calc-rem(100);
            background: #fff;
            justify-content: space-between;
            align-items: center;
            font-size: calc-rem(28);
            color: #5B5B5B;
            letter-spacing: calc-rem(1.34);
            line-height: calc-rem(28);

            .arrow-right{
                width: calc-rem(40);
                height: calc-rem(40);
                background: url(../../static/images/next.png) no-repeat center;
                background-size: calc-rem(40);
            }
        }
    }
    
}