/**
 * @component _variables.scss
 * @description 全局的样式变了。
 * @time 2017-03-27 11:00
 * @author fishYu
 **/
$baseSize: 14; /*默认字体*/
$ratio: 2; /*缩放比*/
$factor: 320/375;  /*屏幕和设计稿的比例（750尺寸）*/
$headerHeight: 88;  /*头部实际的高度*/
$toolbarHeight: 40; /*时间栏的高度*/
$topHeight: 128;  /*顶部高度*/

$greyColor: #fff;  /*全局背景色*/
$yellowColor: #FE5A0B;  /*黄色*/
$btnColor: #FDDC60;  /*按钮没点击的颜色*/
$borderRadius: 10; /*全局圆角大小*/
$textColor: #5a5a5a; /*全局文字色*/
$hintColor: #999;   /*提示文字颜色*/
$tipColor: #57738c;  /*协议链接提示颜色*/
$whiteColor: #fff;  /*白色*/
$blackColor: #000;  /*白色*/
$borderColor: #9d9d9d; /*通用边框颜色*/
$opacityColor: rgba(8,8,8,.65);  /**带透明度颜色*/
$bankColor: #e9cac4;  /**银行提示颜色**/
$phoneColor: #b8c9cf;  /**电话颜色*/

$backIcon : '../../static/images/back.png'; /*返回图片*/
$nextIcon : '../../static/images/next.png'; /*下一步图片*/
$arrowIcon : '../../static/images/arrow.png'; /*警报消息图片*/
$yellowarrowIcon : '../../static/images/yellow-arrow.png'; /*警报消息图片*/
$alarmIcon : '../../static/images/alarm.png'; /*警报消息图片*/
$messageIcon : '../../static/images/message.png'; /*消息图片*/
$systemIcon : '../../static/images/system.png'; /*系统消息图片*/

$alarmLevel1Icon : '../../static/images/alarm_level1.png'; /*警报等级1图片*/
$alarmLevel2Icon : '../../static/images/alarm_level2.png'; /*警报等级1图片*/
$alarmLevel3Icon : '../../static/images/alarm_level3.png'; /*警报等级1图片*/

$workOrderIcon : '../../static/images/work_order.png'; /*工单*/
$editIcon : '../../static/images/edit.png'; /*编辑*/
$treatedIcon : '../../static/images/treated.png'; /*完成*/
$untreatedIcon : '../../static/images/untreated.png'; /*未完成*/

$faultIcon : '../../static/images/fault.png'; /*故障列表*/

$cameraIcon : '../../static/images/camera.png'; /*照相机*/
$closeIcon : '../../static/images/close.png'; /*照相机*/

$checkIcon : '../../static/images/selected.png'; /*选择*/

$uncheckIcon : '../../static/images/circle.png'; /*未选择*/

$commonBorder: .5px solid rgba(224,224,224, .9);

$loadingFont1 : '../../static/fonts/glyphicons-halflings-regular.eot';
$loadingFont2 : '../../static/fonts/glyphicons-halflings-regular.eot?#iefix';
$loadingFont3 : '../../static/fonts/glyphicons-halflings-regular.woff2';
$loadingFont4 : '../../static/fonts/glyphicons-halflings-regular.woff';