/**
 * @component common.scss
 * @description app的全局样式。
 * @time 2017-06-17 15:51
 * @author fishYu
 **/
@import "_variables.scss";
@import "_mixins.scss";

.common-item{
    position: relative;
    width: 100%;
    height: calc-rem(100);
    background-color: #fff; 
    color: #333;
    font-size: calc-rem(32);
    margin-bottom: calc-rem(20);
    padding: 0 calc-rem(40);
    text-align: right;
    line-height: calc-rem(100);
}

.common-next{
    &:after{
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url($nextIcon)  -webkit-calc(100% - #{calc-rem(40)}) center no-repeat transparent;
        background: url($nextIcon)  calc(100% - #{calc-rem(40)}) center no-repeat transparent;
        background-size: calc-rem(48);
    }
}

.common-pseudo{
    &:before{
        content: attr(data-hint);
        display: block;
        position: absolute;
        left: calc-rem(114);
    }
}

.common-active:active{
    opacity: .8;
}
.message-content-wrapper{
    width: 100%;
    padding-top: calc-rem(20); 
    // height: -webkit-calc(100% - #{calc-rem($topHeight)});
    // height: calc(100% - #{calc-rem($topHeight)});
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto; 
}
.no-message-info{
    background: #f5f5f5;
    position: relative;
    width: 100%;
    height: -webkit-calc(100% - #{calc-rem($topHeight)});
    height: calc(100% - #{calc-rem($topHeight)});
    span{
        display: inline-block;
        width: calc-rem(340);
        height: calc-rem(340);
        position: absolute;
        border-radius: 100%;
        text-align: center;
        line-height: calc-rem(340); 
        top: 50%;
        left: 50%;
        transform: -webkit-translate3d(-50%, -50%, 0);
        transform: translate3d(-50%, -50%, 0);
        background: rgba(216,216,216,.2);
        color: #888;
        font-size: calc-rem(32);
    }
}

.message-read{
    opacity: .4;
}


.common-order-item-hint{
    width: 100%;
    position: relative;
    box-sizing: border-box;
    padding: 0 calc-rem(40);
    color: #333;
    border-bottom: $commonBorder;
    background: $whiteColor;
    height: calc-rem(100);
    line-height: calc-rem(100);
    font-size: calc-rem(24);
    color: #666;
    span{
        position: absolute;
        display: inline-block;
        right: calc-rem(40);
        width: 68%;
        height: 100%;
        font-size: calc-rem(32);
        color: #333;
        text-align: right;
    }
}

.common-order-item-hint-flex{
    width: 100%;
    position: relative;
    box-sizing: border-box;
    padding: calc-rem(36) calc-rem(40);
    color: #333;
    border-bottom: $commonBorder;
    background: $whiteColor;
    min-height: calc-rem(100);
    line-height: calc-rem(24);
    font-size: calc-rem(24);
    color: #666;
    display: flex;
    justify-content: space-between;
    align-items: center;

    div:first-child{
        font-size: calc-rem(24);
        color: #666;
    }

    div:nth-child(2){
        width: 68%;
        height: 100%;
        font-size: calc-rem(32);
        line-height: calc-rem(40);
        padding: 0;
        color: #333;
        text-align: right;
        word-break: break-word;
    }
}

.margin-bottom-20{
    margin-bottom: calc-rem(20);
}

.margin-top-20{
    margin-top: calc-rem(20);
}

.common-divide{
    padding: 0 calc-rem(40);
    width: 100%;
    height: calc-rem(100);
    line-height: calc-rem(100);
    font-weight: bold;
    color: #333;
    font-size: calc-rem(32);
    background: $whiteColor;
    border-bottom: $commonBorder; 
}

.no-border{
    border: 0 !important;
}

.xy-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}