/**
 * @component common.scss
 * @description app的全局样式。
 * @time 2017-06-17 15:51
 * @author fishYu
 **/
@import "_variables.scss";
@import "_mixins.scss";

.common-item{
    position: relative;
    width: 100%;
    height: calc-rem(100);
    background-color: #fff; 
    color: #333;
    font-size: calc-rem(32);
    margin-bottom: calc-rem(20);
    padding: 0 calc-rem(40);
    text-align: right;
    line-height: calc-rem(100);
}

.common-next{
    &:after{
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url($nextIcon)  -webkit-calc(100% - #{calc-rem(40)}) center no-repeat transparent;
        background: url($nextIcon)  calc(100% - #{calc-rem(40)}) center no-repeat transparent;
        background-size: calc-rem(48);
    }
}

.common-pseudo{
    &:before{
        content: attr(data-hint);
        display: block;
        position: absolute;
        left: calc-rem(114);
    }
}


.common-active:active{
    opacity: .8;
}
.message-content-wrapper{
    width: 100%;
    padding-top: calc-rem(20); 
    height: -webkit-calc(100% - #{calc-rem($topHeight)});
    height: calc(100% - #{calc-rem($topHeight)});
    overflow-x: hidden;
    overflow-y: auto; 
}
.no-message-info{
    background: #f5f5f5;
    position: relative;
    width: 100%;
    height: -webkit-calc(100% - #{calc-rem($topHeight)});
    height: calc(100% - #{calc-rem($topHeight)});
    span{
        display: inline-block;
        width: calc-rem(340);
        height: calc-rem(340);
        position: absolute;
        border-radius: 100%;
        text-align: center;
        line-height: calc-rem(340); 
        top: 50%;
        left: 50%;
        transform: -webkit-translate3d(-50%, -50%, 0);
        transform: translate3d(-50%, -50%, 0);
        background: rgba(216,216,216,.2);
        color: #888;
        font-size: calc-rem(32);
    }
}

.message-read{
    opacity: .4;
}



