/**
 * @component index.scss
 * @description 离场申请
 * @time 2017-06-21 22:30
 * @author fishYu
 **/
@import '../../static/css/_mixins.scss';

.examine-item{
    width: 100%;
    height: calc-rem(155);
    border-bottom: $commonBorder;
    background: $whiteColor;
    padding: 0 calc-rem(40);
    .examine-item-title{
        width: 100%;
        height: calc-rem(65);
        color: #5B5B5B;
        font-size: calc-rem(28);
        line-height: calc-rem(65);
    }
    span{
        display: inline-block;
        width: 50%;
        height: calc-rem(90);
        line-height: calc-rem(90);
        input[type="radio"]{
            display: inline-block;
            vertical-align: middle;
            width: calc-rem(44);
            height: 100%;
            -webkit-appearance: none;
            appearance: none;
            outline: none;
            background: url($uncheckIcon) center no-repeat;
            background-size: calc-rem(44); 
        }
        input[type="radio"]:checked{
            background: url($checkIcon) center no-repeat;
            background-size: calc-rem(44);
        }
        label{
            width: -webkit-calc(100% - #{calc-rem(44)});
            width: calc(100% - #{calc-rem(44)});
            padding-left: calc-rem(20);
            height: 100%;
            color: #333;
            display: inline-block;
            vertical-align: middle;
            font-size: calc-rem(32);
        }
    }
}

.examine-item-last{
    border-bottom: 0;
    margin-bottom: calc-rem(20);
}
.examine-save-wrapper{
    width: 100%;
    background: $whiteColor;
    padding-bottom: calc-rem(30);
}
.examine-save{
    width: calc-rem(260);
    height: calc-rem(70);
    margin: 0 auto;
    color: #FE5A08;
    font-size: calc-rem(32);
    text-align: center;
    line-height: calc-rem(68);
    border: calc-rem(1) solid #FE5A08;
    border-radius: calc-rem(32)
}
