@import '../../static/css/_mixins.scss';

.inverter-detail-container{

    .header-div{
        margin-top: calc-rem(20);
        height: calc-rem(100);
        padding: 0 calc-rem(40);
        background: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;

        span{
            font-size: calc-rem(28);
            color: #5B5B5B;
            letter-spacing: calc-rem(1.34);
            line-height: calc-rem(28);
        }
    }

    .alarm-div{
        margin-top: calc-rem(20);
        padding: calc-rem(30) calc-rem(40);
        background: #fff;

        .alarm-title{
            font-size: calc-rem(28);
            color: #5B5B5B;
            letter-spacing: calc-rem(1.34);
            line-height: calc-rem(28);
        }

        .alarm-list{
            padding-top: calc-rem(30);
            display: flex;
            align-items: center;

            .alarm-item{
                width: 33.3%;
                text-align: center;

                .alarm-icon{
                    width: calc-rem(100);
                    height: calc-rem(100);
                    margin: 0 auto;
                }

                .alarm-count{
                    margin-top: calc-rem(10);
                    font-family: "PingFang-SC-Medium";
                    font-size: calc-rem(32);
                    color: #FE5A0B;
                    letter-spacing: calc-rem(1.53);
                    height: calc-rem(32);
                    line-height: calc-rem(32);
                }

                .alarm-level{
                    margin-top: calc-rem(4);
                    font-size: calc-rem(24);
                    color: #999999;
                    letter-spacing: calc-rem(1.15);
                    height: calc-rem(32);
                    line-height: calc-rem(32);
                }

                .alarm_1{
                    background: url(../../static/images/alarm_level1.png) no-repeat center;
                    background-size: calc-rem(100);
                }

                .alarm_2{
                    background: url(../../static/images/alarm_level2.png) no-repeat center;
                    background-size: calc-rem(100);
                }

                .alarm_3{
                    background: url(../../static/images/alarm_level3.png) no-repeat center;
                    background-size: calc-rem(100);
                }
            }
        }
    }

    .temperature-div{
        padding: calc-rem(30) calc-rem(40);
        background: #fff;
        margin-top: calc-rem(20);

        .temperature-title{
            font-size: calc-rem(28);
            color: #5B5B5B;
            letter-spacing: calc-rem(1.34);
            line-height: calc-rem(28);
        }

        .temperature-echart-div{
            margin-top: calc-rem(20);
            width: 100%;
            height: calc-rem(680);
        }
    }

    .table-div{
        margin-top: calc-rem(20);
        background: #fff;
        padding: 0 calc-rem(40);

        .table-header{
            height: calc-rem(90);
            font-size: calc-rem(28);
            color: #5B5B5B;
            letter-spacing: calc-rem(1.34);
            line-height: calc-rem(90);
            border-bottom: calc-rem(1) solid #eee;
        }


        .info-div{
            padding: calc-rem(30) 0;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .info-left{
                text-align: center;
                .big-txt{
                    font-family: "PingFang-SC-Semibold";
                    font-size: calc-rem(44);
                    color: #FC5B0B;
                    height: calc-rem(62);
                    line-height: calc-rem(62);
                    display: block;
                }

                .normal-txt{
                    font-size: calc-rem(28);
                    color: #999999;
                    height: calc-rem(40);
                    line-height: calc-rem(40);
                    display: block;
                }
            }

            .info-right{
                .right-item{
                    display: flex;
                    align-items: center;
                    .txt-1{
                        font-size: calc-rem(28);
                        color: #999999;
                        height: calc-rem(40);
                        line-height: calc-rem(40);
                        margin-right: calc-rem(50);
                    }
                    .txt-2{
                        font-family: "PingFang-SC-Medium";
                        font-size: calc-rem(32);
                        color: #FC5B0B;
                        height: calc-rem(45);
                        line-height: calc-rem(45);
                    }
                }

                .right-item:first-child{
                    margin-bottom: calc-rem(10);
                }
            }
        }

        .table-info{
            padding: calc-rem(20) calc-rem(10);

            .table-tr{
                margin-top: calc-rem(20);
                height: calc-rem(42);
                display: flex;
                justify-content: space-between;
                align-items: center;

                .table-td{
                    font-size: calc-rem(30);
                    color: #999999;

                    span{
                        font-family: "PingFang-SC-Semibold";
                        font-size: calc-rem(32);
                        color: #5B5B5B;
                        margin-right: calc-rem(30);
                    }

                    span:last-child{
                        margin-right: 0;
                    }
                }
            }

            .table-tr:first-child{
                margin-top: 0;
            }
        }
    }
}