@import '../../static/css/_mixins.scss';

.ammeter-item{
    width: calc(50% - #{calc-rem(10)});
    background: #fff;
    border: calc-rem(3) solid #EEEEEE;
    border-radius: calc-rem(4);

    .ammeter-header{
        height: calc-rem(60);
        border-bottom: calc-rem(1) solid #eee;
        display: flex;
        align-items: center;
        padding: 0 calc-rem(14);
        

        .ammeter-icon{
            display: inline-block;
            width: calc-rem(32);
            height: calc-rem(32);
            background: url(../../static/images/ammeter.png) no-repeat center;
            background-size: calc-rem(32);
            margin-right: calc-rem(6);
        }

        .ammeter-title{
            font-family: "PingFang-SC-Medium";
            font-size: calc-rem(28);
            color: #FE5A0B;
            letter-spacing: calc-rem(1.34);
        }
    }

    .ammeter-content{
        padding: calc-rem(14);

        .info-item{
            margin-top: calc-rem(5);
            display: flex;
            align-items: center;
            justify-content: space-between;

            .txt1{
                height: calc-rem(28);
                line-height: calc-rem(28);
                font-size: calc-rem(22);
                color: #999999;
                letter-spacing: 0;
            }

            .txt2{
                height: calc-rem(40);
                line-height: calc-rem(40);
                font-family: "PingFang-SC-Medium";
                font-size: calc-rem(28);
                color: #333333;
                letter-spacing: calc-rem(1.34);
            }

            .data-txt{
                font-size: calc-rem(24);
                color: #5B5B5B;
            }
        }
    }
}