@import '../../static/css/_mixins.scss';
@import '../../static/css/_variables.scss';

.system-message-item {
    width: 100%;
    height: calc-rem(195);
    padding: calc-rem(30) calc-rem(40);
    background: $whiteColor;
    margin-bottom: calc-rem(20);
    box-sizing: border-box;
    box-shadow: inset 0 -1px 0 0 #EEEEEE;
        div:nth-child(2){
            font-size: calc-rem(32);
            color: #030303;
            letter-spacing: calc-rem(1.34);
            font-weight: bold;
            margin-top: calc-rem(10);
        }
        div:first-child{
            height: calc-rem(45);
            line-height: calc-rem(45);
            span{
                width: calc-rem(80);
                height: calc-rem(40);
                display: inline-block;
                color: #4A90E2;
                background: rgba(74, 144, 226, .2);
                line-height: calc-rem(36);
                border-radius: calc-rem(20);
                text-align: center;
                font-size: calc-rem(24);
            }
        }
        div:last-child{
            margin-top: calc-rem(25); 
            font-size: calc-rem(24);
            color: #999;
        }
}

