@import '../../static/css/_mixins.scss';

.realTime-alarm-item{
    width: 100%;
    height: calc-rem(220);
    display: flex;
    background: #fff;

    .warning-bg{
        width: calc-rem(10);
        height: 100%;
    }

    .detail{
        width: calc-rem(0)
    }

    .warning_1{
        background-color: #E63C3C;
    }

    .warning_2{
        background-color: #fcad42
    }

    .warning_3{
        background-color: #73adf1
    }

    .status-div{
        padding: 0 calc-rem(40);
        padding-top: calc-rem(30);
        

        .icon{
            width: calc-rem(100);
            height: calc-rem(100);
        }

        .status-icon{
            margin-top: calc-rem(20);
            width: calc-rem(100);
            height: calc-rem(40);
        }

        .submited{
            background: url(../../static/images/submited.png) no-repeat center;
            background-size: calc-rem(100) calc-rem(40);
        }

        .notsubmited{
            background: url(../../static/images/not-submit.png) no-repeat center;
            background-size: calc-rem(100) calc-rem(40);
        }

        .alarm_level_1{
            background: url(../../static/images/alarm_level1.png) no-repeat center;
            background-size: calc-rem(100);
        }

        .alarm_level_2{
            background: url(../../static/images/alarm_level2.png) no-repeat center;
            background-size: calc-rem(100);
        }

        .alarm_level_3{
            background: url(../../static/images/alarm_level3.png) no-repeat center;
            background-size: calc-rem(100);
        }
    }

    .txt-div{
        width: calc(100% - #{calc-rem(200)});

        .name-txt{
            width: 100%;
            margin-top: calc-rem(39);
            font-size: calc-rem(28);
            color: #5B5B5B;
            letter-spacing: calc-rem(1.34);
            line-height: calc-rem(28);
        }

        .desc-txt{
            width: 100%;
            margin-top: calc-rem(20);
            font-family: "PingFangSC-Medium";
            font-size: calc-rem(32);
            color: #333333;
            letter-spacing: calc-rem(1.53);
            line-height: calc-rem(32);
        }

        .date-txt{
            width: 100%;
            margin-top: calc-rem(34);
            font-size: calc-rem(24);
            color: #999999;
            letter-spacing: calc-rem(1.15);
        }
    }
}