@import '../../static/css/_mixins.scss';
@import '../../static/css/_variables.scss';

.alarm-message-item {
    width: 100%;
    height: calc-rem(220);
    padding: calc-rem(30) calc-rem(40);
    background: $whiteColor;
    border-bottom: $commonBorder;
    box-sizing: border-box;
    .alarm-message-left{
        float: left;
        width: calc-rem(100);
        height: 100%;
        text-align: center;
        span{
            display: inline-block;
        }
        span:first-child{
            width: calc-rem(100);
            height: calc-rem(100);
            border-radius: 100%; 
            margin-bottom: calc-rem(20);
        }
        span:last-child{
            font-size: calc-rem(22); 
            width: calc-rem(100);
            height: calc-rem(40);
            border-radius: calc-rem(20); 
            line-height: calc-rem(36);
            box-sizing: border-box;
        }
    }
    .alarm-message-right{
        float: right;
        width: -webkit-calc(100% - #{calc-rem(100)}); 
        width: calc(100% - #{calc-rem(100)}); 
        padding-left: calc-rem(40);
        box-sizing: border-box; 
        div{
            font-size: calc-rem(32);
            color: #333;
            line-height: calc-rem(70);
            letter-spacing: calc-rem(1.34);
            font-weight: bold;
        }
        div:first-child{
            font-weight: normal;
            color: #5B5B5B;
            line-height: calc-rem(42);
            font-size: calc-rem(28);
        }
        div:last-child{
            font-weight: normal;
            height: calc-rem(50);
            line-height: calc-rem(50);
            span:first-child{
                float: left;
                font-size: calc-rem(24);
                color: #999;
                margin-top: calc-rem(6);
            }
            span:last-child{
                float: right;
                font-size: calc-rem(40);
                color: #EE7737;
            }
        }
    }
}


.alarm-message-logo1{
    background: url($alarmLevel1Icon) center no-repeat;
    background-size: calc-rem(100); 
}
.alarm-message-logo2{
    background: url($alarmLevel2Icon) center no-repeat;
    background-size: calc-rem(100); 
}
.alarm-message-logo3{
    background: url($alarmLevel3Icon) center no-repeat;
    background-size: calc-rem(100); 
}
.alarm-message-status1{
    color: #FE5A08;
    background-color: rgba(254, 90, 8, .1);
}
.alarm-message-status2{
    color: #999;
    background-color: rgba(153, 153, 153, .1);
}
.alarm-message-status3{
    color: #666;
    background-color: rgba(102, 102, 102, .1);
}