@import '../../../static/css/_mixins.scss';
@import '../../../static/css/_variables.scss';

.psm-map-container{
    width: 100%;
    height: 100%;

    .psm-map-div{
        width: 100%;
        height: 100%;
    }

    .baiduPopWin{
        padding: calc-rem(20);
        padding-top: calc-rem(50);
        background: rgba(0,0,0,0.6);
        color: #fff;
        p{
            line-height: calc-rem(40);
            white-space: nowrap; 
        }
    }

    .baiduPopWin-p{
        padding: calc-rem(20);
        padding-top: calc-rem(50);
        padding-right: calc-rem(100);
        background: rgba(0,0,0,0.6);
        p{
            line-height: calc-rem(40);
            color: #fff;
            white-space:nowrap; 
        }

        a{
            display: inline-block;
            position: absolute;
            width: calc-rem(60);
            height: calc-rem(60);
            right: calc-rem(24);
            bottom: calc-rem(20);
            background: url(../../../static/images/phoneIcon.png) no-repeat center;
            background-size: 100%;
        }
    }

    .baiduPopWin-label{
        padding: calc-rem(10);
        p{
            line-height: calc-rem(40);
            color: #fff;
        }
    }
}