@import '../../../static/css/_mixins.scss';
@import '../../../static/css/_variables.scss';

.psm-map-container{
    width: 100%;
    height: 100%;

    .psm-map-div{
        width: 100%;
        height: 100%;
    }

    .baiduPopWin{
        padding-top: calc-rem(50);
        p{
            line-height: calc-rem(40);
        }
    }

    .baiduPopWin-p{
        p{
            line-height: calc-rem(40);
        }
    }
}