@import '../../static/css/_mixins.scss';

.psm-container{
    .psm-header-map, .psm-header-list{
        width: calc-rem(144);
        right: 0 !important;
    }

    .psm-header-map{
        background: url(../../static/images/map.png) no-repeat center;
        background-size: calc-rem(44);
    }

    .psm-header-list{
        background: url(../../static/images/list.png) no-repeat center;
        background-size: calc-rem(44);
    }
}