@import '../../static/css/_mixins.scss';

.ammeter-list-container{
    .ammeter-list{
        padding: calc-rem(20) calc-rem(40);
        height: 100%;
        overflow: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .ammeter-item{
            margin-bottom: calc-rem(20);
        }
    }
}