@import '../../static/css/_mixins.scss';

.home-bottom-container{
    width: 100%;
    height: calc-rem(98);
    background: #fff;
    display: flex;
    justify-content: space-around;
    padding: 0 calc-rem(40);
    box-shadow: 0 -2px 2px 0 #EEEEEE;

    .btn-div{
        width: 25%;
        height: 100%;
        padding-top: calc-rem(15);
        display: inline-block;
        text-align: center;
    }

    .btn_item.selected{
        span{
            color: #EE7737 !important;    
        }
    }

    .icon{
        margin: 0 auto;
        width: calc-rem(50);
        height: calc-rem(50);
    }

    span{
        margin-top: calc-rem(4);
        font-size: calc-rem(20);
        color: #333333;
        letter-spacing: calc-rem(0.12);
    }

    .btn_home{
        .icon{
            background: url(./images/home.png) no-repeat center;
            background-size: calc-rem(50);    
        }
    }

    .btn_home.selected{
        .icon{
            background: url(./images/home-selected.png) no-repeat center;
            background-size: calc-rem(50);
        }
    }

    .btn_order{
        position: relative;
        .icon{
            background: url(./images/order.png) no-repeat center;
            background-size: calc-rem(50);
        }
    }

    .btn_order.selected{
        .icon{
            background: url(./images/order-selected.png) no-repeat center;
            background-size: calc-rem(50);    
        }
    }

    .btn_message{
        .icon{
            background: url(./images/message.png) no-repeat center;
            background-size: calc-rem(50);
        }
    }

    .btn_message.selected{
        .icon{
            background: url(./images/message-selected.png) no-repeat center;
            background-size: calc-rem(50);    
        }
    }

    .btn_my{
        .icon{
            background: url(./images/my.png) no-repeat center;
            background-size: calc-rem(50);
        }
    }

    .btn_my.selected{
        .icon{
            background: url(./images/my-selected.png) no-repeat center;
            background-size: calc-rem(50);
        }
    }
}


.home-bottom-container .btn-div .btn_order .home-bottom-count-bubble{
    // position: fixed;
    position: absolute;
    z-index: 9999;
    // bottom: calc-rem(42);
    // left: calc-rem(294);
    top: calc-rem(-20);
    left: calc-rem(42);
    color: $whiteColor !important;
    font-size: calc-rem(24);
    display: inline-block;
    line-height: calc-rem(56);
    text-align: center;
    width: calc-rem(56);
    height: calc-rem(56);
    background: $yellowColor;
    border-radius: 100%;
    pointer-events: none;
}